---
import Layout from "../../layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { langStaticRoutes } from "../../i18n/ui";
import type { GetStaticPaths } from "astro";
import NavigationBar from "../../sections/1-navigation-bar.astro";
import HallOfFameContent from "../../data/past-leaderships.json";
import { DEPARTMENTS } from "../../utils/utils";
import Footer from "../../sections/16-footer.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export const getStaticPaths = (() => {
	return langStaticRoutes;
}) satisfies GetStaticPaths;
---

<Layout pageTitle={t("leadership_timeline__title")}>
	<NavigationBar />
	<section
		class="bg-white text-primary-900 flex flex-col min-h-[50vh] gap-x-5 mb-5"
	>
		<h1>{t("leadership_timeline__title")}</h1>

		{
			HallOfFameContent.map((item) => (
				<div id={item.year}>
					<div class="flex gap-2 mb-4 items-center text-2xl">
						<a
							href={`/${lang}/leadership-timeline#${item.year}`}
							class="text-primary-900 no-underline hover:underline"
						>
							#
						</a>
						<h2 class="my-0">{item.year}</h2>
					</div>

					<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 mb-10">
						{item.organizing_committee.map((member) => (
							<div class="px-5 py-2 rounded-xl bg-[#fff] border border-solid border-[#3b3b3b30] ">
								<div class="text-left">
									<h3 class="text-xl mb-0 mt-2">
										{member[`name_${lang}`]?.toUpperCase() ||
											member.name_en.toUpperCase()}
									</h3>

									<span class="mb-0 text-lg text-[#cd5c5c]">
										{/* @ts-expect-error */}
										{t(`committee__${member.position}_post`)}
									</span>
									<p class="mt-2">
										BSc Eng. (Hons) (Reading),
										<br />
										{DEPARTMENTS[member.department_code][lang]},<br />
										{t("committee__university")}
									</p>
								</div>
							</div>
						))}
					</div>
				</div>
			))
		}
	</section>
	<section class="note">
		<div>
			The above timeline is not complete yet. If your name is missing or
			incorrect, please contact us at <a href="mailto:examsmora@gmail.com"
				>examsmora@gmail.com</a
			>.
		</div>
	</section>
	<Footer />
</Layout>

<style is:global>
	body > * {
		@apply px-[var(--body-margin-x)];
	}
	* {
		scroll-margin: 100px;
	}
	.note {
		div {
			@apply px-3 py-2 rounded-md border-[3px] border-solid border-purple-600 max-w-prose mx-auto bg-purple-100/30 text-lg mb-10;
		}
		a {
			@apply text-purple-800 no-underline;
		}
	}
</style>
