---
import type { GetStaticPaths } from "astro";
import past_papers from "../../data/past_papers.json";
import Layout from "../../layouts/Layout.astro";
import { formatSubjectName, formatMediumName } from "../../utils/utils";
import { langStaticRoutes } from "../../i18n/ui";
import Footer from "../../sections/16-footer.astro";
import NavigationBar from "../../sections/1-navigation-bar.astro";
import { groupPastPaperItems } from "../../utils/utils";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

export const getStaticPaths = (() => {
	return langStaticRoutes;
}) satisfies GetStaticPaths;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// @ts-expect-error
const grouped = groupPastPaperItems(past_papers);
---

<Layout pageTitle="Past Papers" ogImageSlug="past-papers">
	<NavigationBar />
	<main>
		<h1 class="text-4xl mt-10 mb-12">{t("past_papers__title")}</h1>
		{
			Object.entries(grouped).map(([medium, mediumInfo]) => (
				<>
					<h2 class="text-3xl">{formatMediumName(medium, lang)}</h2>
					{Object.entries(mediumInfo).map(([subject, groupedSubjects]) => (
						<>
							<a
								href={`#${medium}-${subject}`}
								class="no-underline text-inherit"
							>
								<h3 id={`${medium}-${subject}`} class="text-2xl">
									{formatSubjectName(subject, lang)}
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="currentColor"
										class="icon icon-tabler icons-tabler-filled icon-tabler-link"
									>
										<path stroke="none" d="M0 0h24v24H0z" fill="none" />
										<path d="M15.707 8.293a1 1 0 0 1 0 1.414l-6 6a1 1 0 1 1 -1.414 -1.414l6 -6a1 1 0 0 1 1.414 0" />
										<path d="M19.242 4.757c2.343 2.344 2.342 6.143 -.052 8.534l-.534 .464a1 1 0 1 1 -1.312 -1.51l.483 -.416a4 4 0 0 0 0 -5.657c-1.562 -1.563 -4.095 -1.563 -5.607 -.054l-.463 .536a1 1 0 1 1 -1.514 -1.308l.513 -.59a6 6 0 0 1 8.486 .001" />
										<path d="M6.75 10.338a1 1 0 0 1 -.088 1.411l-.483 .425a3.97 3.97 0 0 0 0 5.649a4.064 4.064 0 0 0 5.678 .038l.34 -.458a1 1 0 1 1 1.606 1.194l-.397 .534l-.1 .114a6.07 6.07 0 0 1 -8.533 0a5.97 5.97 0 0 1 -1.773 -4.247c0 -1.595 .638 -3.124 1.814 -4.284l.524 -.463a1 1 0 0 1 1.411 .087" />
									</svg>
								</h3>
							</a>
							<div class="grid grid-cols-[repeat(auto-fill,minmax(220px,1fr))] gap-y-2 gap-x-3">
								{Object.entries(groupedSubjects).map(([year, paperDetails]) => (
									<div class="outline outline-gray-200 rounded-lg px-4 py-1 my-1 flex flex-col">
										<span class="text-xl mb-1">{year}</span>
										<div class="flex flex-col md:flex-row gap-2">
											{"paper" in paperDetails ? (
												<a
													href={paperDetails.paper}
													class="no-underline hover:underline text-black inline-flex"
												>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="20"
														height="20"
														viewBox="0 0 24 24"
														fill="none"
														stroke="currentColor"
														stroke-width="2"
														stroke-linecap="round"
														stroke-linejoin="round"
														class="icon icon-tabler icons-tabler-outline icon-tabler-download mr-1"
													>
														<path stroke="none" d="M0 0h24v24H0z" fill="none" />
														<path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
														<path d="M7 11l5 5l5 -5" />
														<path d="M12 4l0 12" />
													</svg>
													{lang === "en" ? "Paper" : "வினாத்தாள்"}
												</a>
											) : null}
											{"scheme" in paperDetails ? (
												<a
													href={paperDetails.scheme}
													class="no-underline hover:underline text-black inline-flex"
												>
													<svg
														xmlns="http://www.w3.org/2000/svg"
														width="20"
														height="20"
														viewBox="0 0 24 24"
														fill="none"
														stroke="currentColor"
														stroke-width="2"
														stroke-linecap="round"
														stroke-linejoin="round"
														class="icon icon-tabler icons-tabler-outline icon-tabler-download mr-1"
													>
														<path stroke="none" d="M0 0h24v24H0z" fill="none" />
														<path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
														<path d="M7 11l5 5l5 -5" />
														<path d="M12 4l0 12" />
													</svg>
													{lang === "en" ? "Scheme" : "விடைத்தாள்"}
												</a>
											) : null}
										</div>
									</div>
								))}
							</div>
						</>
					))}
				</>
			))
		}
	</main>
	<Footer />
</Layout>

<style is:global>
	main,
	footer {
		@apply px-[var(--body-margin-x)];
	}
	body > * {
		@apply px-[var(--body-margin-x)];
	}
</style>
