---
import CommitteeMemberCard from "../components/CommitteeMemberCard.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import presidentImage from "../assets/committee/president.webp";
import secretaryImage from "../assets/committee/secretary.webp";
import treasurerImage from "../assets/committee/treasurer.webp";
import vicePresidentImage from "../assets/committee/vice-president.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
	<h2 class="text-center">
		{t("committee__title")}
	</h2>

	<div
		class="px-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 mt-5 gap-10 shadow-black w-full h-auto rounded-full p-4"
	>
		<CommitteeMemberCard img={presidentImage} post="president" lang={lang} />
		<CommitteeMemberCard img={secretaryImage} post="secretary" lang={lang} />
		<CommitteeMemberCard img={treasurerImage} post="treasurer" lang={lang} />
		<CommitteeMemberCard
			img={vicePresidentImage}
			post="vice_president"
			lang={lang}
		/>
	</div>
</section>
